{{#unless siteSettings.allow_expired_on_all_topics}}
<section class='field'>
  <div class="enable-accepted-answer">
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.enable_expired_mark}}
      {{i18n 'expired.allow_expired_mark'}}
    </label>
  </div>
</section>
{{/unless}}
