{{#unless siteSettings.allow_expired_on_all_topics}}
<section class='field'>
  <div class="enable-expired_marked-answer">
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.enable_expired_deals}}
      {{i18n 'expired.allow_expired_deals'}}
    </label>
  </div>
</section>
{{/unless}}
