.expired-panel, .post-controls .expired_marked, .fa.expired_marked, .expired_marked-text {
  color: green;
}

.post-controls .expired_marked-text {
  display: inline-block;
  font-size: inherit;
  vertical-align: middle;
  line-height: 35px;
  margin-right: -5px;
  z-index: 999;
}

// you can style expired_marked answers however your want
.topic-post.expired_marked-answer .topic-body {
//  background-color: #E9FFE0;
}

.mobile-view .post-controls .expired_marked-text {
  float: left;
}

.mobile-view .expired-panel {
  margin-bottom: 15px;
}

.expired-panel {

  .by {
    display: none;
  }

  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 13px;
  // margin-bottom: 0px;
  // padding: 4px 0px;
  //border-top: 1px solid #ddd;
  //background-color: #E9FFE0;
}
